			                        <form class="form-horizontal" role ="form">
			                        	<!-- garden email sign up -->
			                        	<div class="row">
				                            <div class="col-sm-6"><input type="text" class="form-control" placeholder="First name">
				                            </div>
				                            <div class="col-sm-6"><input type="text" class="form-control" placeholder="Last name">
			                            </div>
			                            <!-- garden email sign up -->
					                	<div class="row">
				                            <div class="col-sm-12"><input type="text" class="form-control" placeholder="Email">
				                            </div>
					                	</div>
					                	<!-- garden email sign up -->
					                	<div class="row">
					                	<h2>Add my garden to the patch.</h2>
					                	<p>(optional)</p>
					                	</div>
				                        <div class="row">
				                            <div class="col-sm-6"><input type="text" class="form-control" placeholder="Length (in feet)">
				                            </div>
				                            <div class="col-sm-6"><input type="text" class="form-control" placeholder="Width (in feet)">
				                            </div>
				                        </div>
					                    <div class="row">
				                            <button id="singlebutton" name="singlebutton" class="btn btn-primary">
					                        Join the Garden Patch!
				                            </button>
					                    </div>
		                            </form>