<div class="row row-1" id="top-content">
	<div class='jumbotron main text-center'>
		<%=image_tag('rhubarbLogoTransparency.png')%> 
		<p>Join the local food movement</p>
		<a class='btn btn-primary' href='/users/new'>Grow</a>
		<a class='btn btn-primary' href='/users/new'>Host</a><br><br>
		<a class='scroll-link' href="#second-content">\/</a>
		
	</div>
</div>


<div class="row second-content-container">
	<div class='jumbotron text-center'>
		<h1>Mission</h1>
		<p>Connecting local growers and land owners to advance the local food movement.</p>
	
	</div>
</div>


<div class="row third-content-container">
	<div class='jumbotron text-center'>
	
	</div>
</div>



<div class="row fourth-content-container">
	<div class='jumbotron text-center'>
	
	</div>
</div>