<div class='container-fluid'>
	<div class='jumbotron text-center'>
		<h1 class='cover-text'>Rhubarb</h1>
		<p>Join the local food movement</p>
		<a class='btn btn-primary'>Grow</a>
		<a class='btn btn-primary'>Host</a>
	</div>
</div>