        <div class="container">
	        <div class="row">
	            <div class="jumbotron"> 
	                <h1>The Sunniest Garden in YYC!!</h1> 
	                <p>This is my awesome garden tagline.</p> 
	            </div>
	        </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                	<%=image_tag('imagePlants.png')%>
				</div>
				<div class="col-md-6">
					<div class="row">
						<h2>Land For Rent</h2>
						<p>Area | City | Country</p>
					</div>
					<div class="row">
						<div class="col-md-3">
						<p>Size</p>
						</div>
						<div class="col-md-3">
						<p>Direction</p>
						</div>
						<div class="col-md-3">
						<p>Price</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<h2>Hours</h2>
					<p>Monday - 4pm to 8pm</p>
					<p>Tuesday - 4pm to 8pm</p>
					<p>Wednesday - 4pm to 8pm</p>
					<p>Thursday - 4pm to 8pm</p>
					<p>Friday - 4pm to 8pm</p>
					<p>Saturday - 2pm to 8pm</p>
					<p>Sunday - 24pm to 8pm</p>
				</div>
            </div>
            <div class="row">
            	<div class="col-md-12">
		            <h2>About My Land</h2>
		            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at diam ac diam scelerisque vestibulum quis ac magna. Donec vulputate arcu enim, sed ullamcorper lacus commodo nec. Nulla facilisi. Aenean condimentum interdum dolor ut ullamcorper. Integer lorem ex, laoreet at viverra eu, auctor efficitur ex. Nunc pellentesque quam sed iaculis varius. Vivamus congue dui ac mi posuere suscipit. Fusce eget facilisis sapien. Vestibulum suscipit, risus sit amet fringilla sodales, felis erat faucibus nunc, mattis mollis eros augue eu ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eu porttitor nulla, quis pellentesque tellus. Curabitur consectetur mi orci, pulvinar laoreet leo tristique vel. Proin eget lacus ut diam sollicitudin mollis et non libero. Donec et mi sem.</p>
		
					<p>Morbi sagittis purus ac elementum lobortis. Praesent eu nunc arcu. Cras rhoncus posuere ipsum ut ultricies. Suspendisse potenti. Phasellus imperdiet libero vel sollicitudin tincidunt. Nullam facilisis, purus eget pharetra cursus, quam eros dapibus leo, quis ultrices diam sapien sit amet tortor. Praesent at ante sit amet dui imperdiet venenatis nec in orci. Proin quis quam non dolor pretium faucibus eget eu dolor. Maecenas volutpat pellentesque dignissim. Etiam lobortis tortor vitae nunc gravida auctor.</p>
            </div>
            <div class="row">
	            <div class="col-md-3">
		            <h2>Amenities</h2>
	            </div>
				<div class="col-md-9">
					<ul>
						<li>item 1</li>
						<li>item 2</li>
						<li>item 3</li>
						<li>item 4</li>
						<li>item 5</li>
					</ul>
				</div>
            </div>
            <div class="row">
	            <div class="col-md-3">
		            <h2>Fees</h2>
	            </div>
				<div class="col-md-3">
					<ul>
						<li>Water - $12 per month</li>
						<li>Electricity - $12 per month</li>
						<li>Garage - $12 per month</li>
						<li>item 4 - $12 per month</li>
						<li>item 5 - $12 per month</li>
					</ul>
				</div>
            </div>
            <div class="row">
	            <div class="col-md-12">
		            <h2>House Rules</h2>
					<p>Morbi sagittis purus ac elementum lobortis. Praesent eu nunc arcu. Cras rhoncus posuere ipsum ut ultricies. Suspendisse potenti. Phasellus imperdiet libero vel sollicitudin tincidunt. Nullam facilisis, purus eget pharetra cursus, quam eros dapibus leo, quis ultrices diam sapien sit amet tortor. Praesent at ante sit amet dui imperdiet venenatis nec in orci. Proin quis quam non dolor pretium faucibus eget eu dolor. Maecenas volutpat pellentesque dignissim. Etiam lobortis tortor vitae nunc gravida auctor.</p>
					</ul>
				</div>
            </div>
            <div class="row">
	            <div class="col-md-12">
		            <h2>Gallery</h2>
					<p>Morbi sagittis purus ac elementum lobortis. Praesent eu nunc arcu. Cras rhoncus posuere ipsum ut ultricies. Suspendisse potenti. Phasellus imperdiet libero vel sollicitudin tincidunt. Nullam facilisis, purus eget pharetra cursus, quam eros dapibus leo, quis ultrices diam sapien sit amet tortor. Praesent at ante sit amet dui imperdiet venenatis nec in orci. Proin quis quam non dolor pretium faucibus eget eu dolor. Maecenas volutpat pellentesque dignissim. Etiam lobortis tortor vitae nunc gravida auctor.</p>
					</ul>
				</div>
            </div>