<h1>Users Index</h1>
<p>All registrations for the site are here.</p>

<table class="table table-striped">
	<tr class="header">
		<th>ID</th>
		<th>First</th>
		<th>Last</th>
		<th>E-mail</th>
		
	</tr>
	<% @users.each do |user|%>	
	<tr>
		<td><%=user.id%></td>
		<td><%=user.first%></td>
		<td><%=user.last%></td>
		<td><%=user.email%></td>

		<% end %>
	</tr>

</table>