// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar { 
	background: rgba(255, 230, 204, 0.8) ;
}

.navbar-brand { 
	padding-top: 0;
}

.navbar-toggle { 
	background: blue;
	border: white solid 1px;
}

.main {
	height: 100vh;
	background:
		linear-gradient(
		rgba(255, 230, 204, 0.4), 
		rgba(255, 230, 204, 0.4)
    	), 
		url('imagePlants.png') no-repeat center center;
	background-size: cover;
}


.jumbotron { 
	padding-top: 0px;
}

.jumboton img {
	margin-top: 10em;
	max-height: 30em;
	max-width: 75%;
}


.main p, .main .fa{
	color: black;
}


.btn-primary { 
	background: #b35900;
	border: black;
}


#map {
      height: 100%;
    }

//Mobile
@media (max-width: 480px) {

}

//Tablet
@media (min-width: 481px) and (max-width: 768px) {
	
}


//Desktop
@media (min-width: 769px) {
	
}



