// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url(https://fonts.googleapis.com/css?family=Noticia+Text:400,400italic,700|EB+Garamond);

h1, h2, p { 
	color: white;
	font-family: 'Noticia Text', serif;
}


h1.logo-text {
	color: white;
}

.top-content { 
	height: 100vh;
	width: 100%;
	background:
		linear-gradient(
		rgba(0, 0, 0, 0.4), 
		rgba(0, 0, 0, 0.4)
    	), 
		url('rhubarb.jpg') no-repeat center center;
	background-size: cover;
	
}

.jumbotron {
	background: transparent;
	min-height: 30em;
}

.cover-text { 
	color: white;
	padding: 10em;
}

#map { 
	height: 30em;
	overflow: visible;
}

.navbar { 
	background: rgba(255, 230, 204, 0.8) ;
}


.navbar-brand img{ 
	position: relative;
	margin-top: -10px;
	max-height: 50px;
}

.navbar-toggle { 
	background: grey;
	border: white solid 1px;
}

.main {
	height: 100vh;
	background:
		linear-gradient(
		rgba(255, 230, 204, 0.4), 
		rgba(255, 230, 204, 0.4)
    	), 
		url('imagePlants.png') no-repeat center center;
	background-size: cover;
}


.jumbotron { 
	padding-top: 0px;
}

.jumboton img {
	margin-top: 10em;
	max-height: 30em;
	max-width: 75%;
}


.main p, .main .fa{
	color: black;
}


.btn-primary { 
	background: #b35900;
	border: black;
}


//Mobile
@media (max-width: 480px) {

}

//Tablet
@media (min-width: 481px) and (max-width: 768px) {
	
}


//Desktop
@media (min-width: 769px) {
	
}



