// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main {
	height: 100vh;
	background:
		linear-gradient(
		rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7)
    	), 
		url('garden.jpg') no-repeat center center;
	background-size: cover;
}

.main h1, p { 
	color: white;
}


.cover-text { 
	padding-top: 20vh;
}




//Mobile
@media (max-width: 480px) {

}

//Tablet
@media (min-width: 481px) and (max-width: 768px) {
	
}


//Desktop
@media (min-width: 769px) {
	
}



