<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- SEO Meta Information -->
        <title>Garden Patch</title>
        <meta name="description" content="Join the Urban Garden Movement">
        <meta name="author" content="Garden Patch">
        <title>Garden Patch</title>
		
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
      
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
        <div class="container top-content">
       
        	<!-- garden submit -->
        	<div class="container garden-submit">
		        <div class="row">
		            <div class="jumbotron">
		            
		                <!-- garden calculator -->
				        <div class="row">
					        <h1>[###,###.###] [km]<sup>2</sup> of urban garden is available in <u>[Calgary]</u>!</h1>
					        <p>Join the Urban Garden movement and add your garden space now!</p>
				        </div>

				        <!-- garden email sign up -->
			            <div class="row">
			            	<div class="col-sm-12">
			                	<div class="form-group">
			                	
			                        <form class="form-horizontal" role ="form">
			                        	<!-- garden email sign up -->
			                        	<div class="row">
				                            <div class="col-sm-6"><input type="text" class="form-control" placeholder="First name">
				                            </div>
				                            <div class="col-sm-6"><input type="text" class="form-control" placeholder="Last name">
			                            </div>
			                            <!-- garden email sign up -->
					                	<div class="row">
				                            <div class="col-sm-12"><input type="text" class="form-control" placeholder="Email">
				                            </div>
					                	</div>
					                	<!-- garden email sign up -->
					                	<div class="row">
					                	<h2>Add my garden to the patch.</h2>
					                	<p>(optional)</p>
					                	</div>
				                        <div class="row">
				                            <div class="col-sm-6"><input type="text" class="form-control" placeholder="Length (in feet)">
				                            </div>
				                            <div class="col-sm-6"><input type="text" class="form-control" placeholder="Width (in feet)">
				                            </div>
				                        </div>
					                    <div class="row">
				                            <button id="singlebutton" name="singlebutton" class="btn btn-primary">
					                        Join the Garden Patch!
				                            </button>
					                    </div>
		                            </form>
		                            
			                	</div>
			                </div>
						</div>
						<!-- END garden email sign up -->
						
					</div>
				</div>
			</div>
			<!-- END garden submit -->  
			
		</div>         
		
		<!-- about the urban garden movement -->
		<div class="row">
			<h1>What is urban gardening about?</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel massa imperdiet, sodales eros id, pharetra elit. Nullam vel pellentesque purus, vel mollis risus. Nunc blandit eros a lacus iaculis, id sollicitudin nunc venenatis. Mauris bibendum turpis ligula. Suspendisse commodo neque vitae risus tempus luctus. Nunc volutpat vestibulum urna. Duis varius varius eleifend. Etiam efficitur blandit justo quis condimentum. Aliquam erat volutpat. Praesent sollicitudin lacinia metus nec dapibus. Maecenas finibus facilisis elit. Nam suscipit urna a imperdiet ullamcorper.</p>

			<p>Phasellus rhoncus arcu sed tristique feugiat. Mauris faucibus neque sed porta ultrices. Nulla laoreet suscipit magna eget scelerisque. Aenean euismod egestas arcu a tempor. Morbi maximus nisi massa, dictum sollicitudin arcu ultrices vel. Donec consectetur a ligula et laoreet. Sed dapibus facilisis lectus in congue. Mauris euismod porta erat, a bibendum risus. Morbi ullamcorper leo nisi, in sodales quam iaculis interdum. Maecenas porta urna non ex fermentum, id varius eros viverra. Quisque enim tellus, commodo sed fringilla sit amet, sagittis eu ante. Nam eu vestibulum purus, sed lacinia leo. Duis facilisis massa id orci consectetur, eu fringilla lectus tempus.</p>

			<p>Aliquam in tristique felis, nec tristique neque. Donec et quam ante. In maximus suscipit luctus. Quisque fringilla bibendum libero, ac hendrerit nunc pretium sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nisi, varius id pulvinar id, fringilla eu lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vestibulum nisi hendrerit porttitor euismod. Aliquam nec purus nisl. Integer malesuada eros vitae sapien varius tincidunt. Proin non.</p>
		</div>
		
			                	
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>